.link-group__container {
  display: inline-block;
  .link-group__links {
    padding-right: 12px;

    max-height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
}
