.expansion-panel {
  border-bottom: 0.0625rem solid rgba(197, 197, 197, 0.4);
  padding: 6px 16px;

  &.button {
    border: 1px, solid, black;
    background-color: white;
    padding: 4px 8px;
    width: 200px;
  }
}

.expansion-panel-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  &.button {
    justify-content: center;
    height: 30px;


  }
}

.expansion-panel-details {
  padding-bottom: 12px;
  padding-top: 12px;

  &.button {
    padding-bottom: 4px;
    padding-top: 4px;
  }
}

.expansion-panel-icon {
  > svg {
    color: #757575;
    height: 1.5rem;
    transition: transform 0.1s ease;
  }

  &.disabled {
    > svg {
      color: #ccc;
      cursor: default;
    }
  }

  &.expanded {
    > svg {
      transform: rotate(-180deg);
    }
  }
}
